---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import About from "../components/about/About"
---

<Layout title="About Us">
    <Main>
        <About client:load/>
    </Main>
</Layout>