---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import Contact from "../components/contact-page/Contact"
---

<Layout title="Contact">
    <Main>
        <Contact client:load/>
    </Main>
</Layout>