---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Home from '../components/home-page/Home';
---

<Layout title="Verse Me">
	<Main>
		<Home client:load/>
	</Main>
</Layout>

