---
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import Search from "../components/search/Search"
---

<Layout title="Bible Search">
    <Main>
        <Search/>
    </Main>
</Layout>